<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <input type="text" name="AirlineName">
  </label><br>
  <label>Airport:
    <input type="text" name="AirportName">
  </label><br>
  <label>Flight Number
    <input type="text" name="FlightNumber">
  </label><br>
  <label>Depart Date:
    <input type="date"
             id="Test_DatetimeLocal">
  </label><br>
 
  <button type="submit">Add Itinerary</button>
</form>
